# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
.idea
*/target/*
*.class

microcloud-api/src/main/resources/
microcloud-api/src/test/
microcloud-config-bus-client/src/test/
microcloud-config-bus/src/test/
microcloud-config-client/src/test/
microcloud-config-eureka-client/src/test/
microcloud-config-product-client/src/test/
microcloud-config/src/test/
microcloud-config2/src/test/
microcloud-config3/src/test/
microcloud-consumer-feign/src/test/
microcloud-consumer-hystrix-dashboard/src/test/
microcloud-consumer-ribbon/src/test/
microcloud-consumer-turbine/src/test/
microcloud-consumer/src/test/
microcloud-eureka/src/test/
microcloud-eureka2/src/test/
microcloud-eureka3/src/test/
microcloud-ha-config-eureka/src/test/
microcloud-provider-product-hystrix/src/test/
microcloud-provider-product/src/test/
microcloud-provider-product2/src/test/
microcloud-provider-product3/src/test/
microcloud-provider-user-hystrix/src/test/
microcloud-security/src/main/resources/
microcloud-security/src/test/
microcloud-service/src/main/resources/
microcloud-service/src/test/
microcloud-zuul-gateway/src/test/
src/
